body {
  background: white;
  margin: 0;
  font: 9pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif; }

a {
  color: #983D06;
  text-decoration: underline; }
  a:hover {
    color: #983D06; }
  a:visited {
    color: #CEB100; }
    a:visited:hover {
      color: #983D06; }
  a img {
    border: 0; }

#header {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0;
  padding: 0; }

h1 {
/*  font-family: Georgia;*/
  font-size: 3.6em;
/*  font-style: italic; */
  }

h2 {
/*  font-family: Georgia;*/
  font-size: 2.6em;
/*  font-style: italic; */
  }

h3 {
/*  font-family: Georgia;*/
  font-size: 1.3em;
/*  font-style: italic; */
  }

h4 {
/*  font-family: Georgia;*/
  font-size: 1em;
/*  font-style: italic; */
  }

.img {
  float: left;
  height: 0px; }
  .img img {
    position: relative;
    right: 300px; }

#wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#container {
  margin-right: 25%; }

#content {
  background: transparent;
  width: 629px;
  margin-top: 0;
  padding: 21px;
  color: #402F38;
  text-align: left;
  float: right; }
  #content ul {
    padding: 0;
    margin: 20px; }
    #content ul li {
      padding: 0;
      margin: 0;
      list-style-image: url(/images/0163_red-rose.png); }

#navcontainer {
  float: left; }

#navlist li {
  list-style-type: none;
  display: inline;
  text-align: right;
  padding-right: 20px;
  font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  color: #666666; }
  #navlist li a:link {
    color: #CEB100; }
  #navlist li a:visited {
    color: #222; }
  #navlist li a:hover {
    color: #983D06; }

.content {
  padding: 21px;
  text-align: justify;
  font: 9pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif; }

#footer {
  width: 100%;
  padding: 9px;
  text-align: right;
  text-transform: lowercase;
  font: 8pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
  color: #333333;
  float: right; }
